<!-- 网站图标组件 - 定义网站的各种尺寸的图标 -->
<th:block th:fragment="favicon">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/images/favicon/site.webmanifest}">
    <link rel="icon" type="image/ico" sizes="32x32" th:href="@{/assets/images/favicon/favicon-32x32.png}">
</th:block>