<!-- 页脚小部件组件 - 显示网站页脚的小部件 -->
<th:block th:fragment="widgets">
  <div class="rpost pjax">
    <h2>随机文章</h2>
    <ul>
      <li class="item" th:each="rpost,index:${postFinder.list(1, 10).items}">
        <div class="breadcrumb" 
        th:if="${!#lists.isEmpty(rpost.categories)}">
          <th:block th:each="rcategories,categoriesIndex : ${rpost.categories}">
            <a th:href="${rcategories.status.permalink}"
            th:title="${'分类于 '+ rcategories.spec.displayName}"
            th:text="${rcategories.spec.displayName}"></a>
            <i class="ic i-angle-right" th:if="${categoriesIndex.count != categoriesIndex.size}"></i>
          </th:block>
        </div>
        <span>
          <a
          th:href="${rpost.status.permalink}"
          th:title="${rpost.spec.title}"
          th:text="${rpost.spec.title}"></a>
        </span>
      </li>
    </ul>
  </div>
  <div>
    <h2>最新评论</h2>
    <ul class="leancloud-recent-comment loaded" th:with="comments = ${commentFinder.list({},1,10)}">
      <li class="item" th:each="comment : ${comments.items}">
        <a th:href="${comment.spec.subjectRef.kind == 'SinglePage'?(singlePageFinder.getByName(comment.spec.subjectRef.name).status.permalink):(comment.spec.subjectRef.kind == 'Post'?postFinder.getByName(comment.spec.subjectRef.name).status.permalink:'/'+comment.spec.subjectRef.kind)}">
          <span class="breadcrumb" th:text="${comment.spec.owner.displayName+' @ '+#temporals.format(comment.spec.creationTime, 'yyyy-MM-dd')}"></span>
          <span th:text="${comment.spec.content}"></span>
        </a>
      </li>
    </ul>
  </div>
  
</th:block>