<!DOCTYPE html>
<html th:replace="~{layouts/partials/layout :: layout(~{::#brandSlot}, ~{::#main}, 'indexHtml')}">
  <div class="pjax" id="brandSlot">
    <a href="/" class="logo" rel="start">
      <p class="artboard" th:text="${site.title}"></p>
      <h1
        itemprop="name headline"
        class="title"
        th:text="${theme.config.base.blog_master}"
      >
      </h1>
    </a>
    <p class="meta" itemprop="description" th:text="${theme.config.base.blog_description}"></p>
  </div>
  <!--  可被替换的 {% block content %} -->
  <div id="main" class="pjax">
    <div class="index wrap">
      <th:block th:with="dataList=${posts.items.?[#this.spec.pinned]}">
        <th:block th:if="${!#lists.isEmpty(dataList)}">
          <h2 class="divider">置顶文章</h2>
          <div class="segments sticky">
            <div th:replace="~{layouts/macro/segment :: article}"></div>
          </div>
        </th:block>
      </th:block>
      <th:block
        th:with="categories = ${categoryFinder.listAll()},dataList=${posts.items.?[#this.spec.pinned]}">
        <th:block th:if="${!#lists.isEmpty(categories) && !#lists.isEmpty(dataList)}">
          <h2 class="divider">精选分类</h2>
          <div class="cards">
            <div th:replace="~{layouts/macro/card :: card}"></div>
          </div>
        </th:block>
      
      </th:block>
      <th:block th:with="dataList=${posts.items.?[!#this.spec.pinned]}">
        <th:block th:if="${!#lists.isEmpty(dataList)}">
          <h2 class="divider">文章列表</h2>
          <div class="segments posts">
            <div th:replace="~{layouts/macro/segment :: article}"></div>
          </div>
        </th:block>
      </th:block>
    </div>
    <div th:replace="~{layouts/common/pagination :: pagination}"></div>
  </div>
</html>