<th:block th:fragment="copyright(post, siteUrl)">
  <div id="copyright">
    <ul>
      <li class="author">
        <strong>本文作者：</strong>
        <th:block th:text="${post.owner.displayName}"></th:block> || 
        <th:block th:text="${#annotations.getOrDefault(post.owner, 'halo.run/email-to-verify', '未认证')}"></th:block>
      </li>
      <li class="link">
        <strong>本文链接：</strong>
        <a th:href="${siteUrl+post.status.permalink}" th:title="${post.spec.title}" th:text="${siteUrl+post.status.permalink}"></a>
      </li>
      <li class="license">
        <strong>版权声明：</strong>本站所有文章除特别声明外，均采用 
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="noopener external nofollow noreferrer" target="_blank" class="exturl" title="(CC)BY-NC-SA">
          <i class="ic i-creative-commons"><em>(CC)</em></i>BY-NC-SA
        </a> 许可协议。转载请注明出处！
      </li>
    </ul>
  </div>
</th:block>